<a href="https://colab.research.google.com/github/SrideviJE/Machine-Learning/blob/main/Timestamp_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import numpy as np
import pandas as pd

In [15]:
timestamp= ['2020-02-16 16:38:56', '2020-08-15 09:18:46', '2020-01-06 02:58:16', '2020-06-06 06:38:56', '2020-06-06 06:38:56']

In [16]:
data= {
    'timestamp': timestamp,
    'transient_1': [11,75,7,7,7],
    'transient_2': [735,85,7,96,1],
    'transient_3': [5,45,9,78,12],
}

In [17]:
df= pd.DataFrame(data= data)
df.head()

             timestamp  transient_1  transient_2  transient_3
0  2020-02-16 16:38:56           11          735            5
1  2020-08-15 09:18:46           75           85           45
2  2020-01-06 02:58:16            7            7            9
3  2020-06-06 06:38:56            7           96           78
4  2020-06-06 06:38:56            7            1           12

In [18]:
df.iloc[1:2, 1:4]= [1,2,3]
df

             timestamp  transient_1  transient_2  transient_3
0  2020-02-16 16:38:56           11          735            5
1  2020-08-15 09:18:46            1            2            3
2  2020-01-06 02:58:16            7            7            9
3  2020-06-06 06:38:56            7           96           78
4  2020-06-06 06:38:56            7            1           12

In [19]:
df['Average']= df.mean(axis=1)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

             timestamp  transient_1  transient_2  transient_3     Average
0  2020-02-16 16:38:56           11          735            5  250.333333
1  2020-08-15 09:18:46            1            2            3    2.000000
2  2020-01-06 02:58:16            7            7            9    7.666667
3  2020-06-06 06:38:56            7           96           78   60.333333
4  2020-06-06 06:38:56            7            1           12    6.666667

In [20]:
df['month']= pd.DatetimeIndex(df['timestamp']).month
df

,timestamp,transient_1,transient_2,transient_3,Average,month
0,2020-02-16 16:38:56,11,735,5,250.333333,2
1,2020-08-15 09:18:46,1,2,3,2.000000,8
2,2020-01-06 02:58:16,7,7,9,7.666667,1
3,2020-06-06 06:38:56,7,96,78,60.333333,6
4,2020-06-06 06:38:56,7,1,12,6.666667,6

In [21]:
dfs= df.iloc[:,1:4].to_numpy()
b= np.sort(dfs)
df['average_7_max']= pd.DataFrame(np.mean(b[:, 1:], axis=1))
df

,timestamp,transient_1,transient_2,transient_3,Average,month,average_7_max
0,2020-02-16 16:38:56,11,735,5,250.333333,2,373.0
1,2020-08-15 09:18:46,1,2,3,2.000000,8,2.5
2,2020-01-06 02:58:16,7,7,9,7.666667,1,8.0
3,2020-06-06 06:38:56,7,96,78,60.333333,6,87.0
4,2020-06-06 06:38:56,7,1,12,6.666667,6,9.5

In [22]:
columns= ['transient_1','transient_2','transient_3']
for i, row in df.iterrows():
    for column in columns:
      if ((df.at[i,column]>= 50) and (df.at[i,column]<= 800)):
            df.at[i,column] = row[column] / 10
df

,timestamp,transient_1,transient_2,transient_3,Average,month,average_7_max
0,2020-02-16 16:38:56,11,73,5,250.333333,2,373.0
1,2020-08-15 09:18:46,1,2,3,2.000000,8,2.5
2,2020-01-06 02:58:16,7,7,9,7.666667,1,8.0
3,2020-06-06 06:38:56,7,9,7,60.333333,6,87.0
4,2020-06-06 06:38:56,7,1,12,6.666667,6,9.5

In [23]:
df.sort_values(by= ['timestamp','transient_1','transient_2' ], inplace= True)
df

,timestamp,transient_1,transient_2,transient_3,Average,month,average_7_max
2,2020-01-06 02:58:16,7,7,9,7.666667,1,8.0
0,2020-02-16 16:38:56,11,73,5,250.333333,2,373.0
4,2020-06-06 06:38:56,7,1,12,6.666667,6,9.5
3,2020-06-06 06:38:56,7,9,7,60.333333,6,87.0
1,2020-08-15 09:18:46,1,2,3,2.000000,8,2.5